@import "reset.css";

body {
    font-family: tahoma, arial, sans-serif;
    font-size: 11px;
    width: 1200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body * {
    margin: 5px;
}

h1 {
    font-size: 16px;
}

#searchResultArea table {
    width: 100%;
    border: none;
}

#searchResultArea th, #searchResultArea td {
    padding: 5px 2px 5px 2px;
    border: 1px solid gray;
}

#searchResultArea th {
    font-weight: bold;
    background-color: #d0d0f0;
}

#queryArea input[type=text] {
    width: 1000px;
}

.answered {
    background-color: #E0FFE1;
}

#pageNavigation form {
    display: inline-block;
}

input[type=submit] {
    width: 80px;
}